<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd"

       default-lazy-init="true">

    <!-- JPA part: -->
    <bean class="com.lavida.service.DecryptPropertyConfigurer">
        <property name="location" value="classpath:db.creds.props"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="lavida"/>
        <property name="jpaProperties">
            <props>
                <prop key="javax.persistence.jdbc.user">${db.username}</prop>
                <prop key="javax.persistence.jdbc.password">${db.password}</prop>
                <prop key="javax.persistence.jdbc.url">${db.url}</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Services part: -->
    <context:component-scan base-package="com.lavida.service"/>

    <context:annotation-config/>

</beans>